.btn {
    min-width: 120px;
    border-radius: 10px;
    background-color: #73737e;
    padding: 8px;
    margin: 10px 5px;

    color: #fff;
    font-size: 1.4rem;

    cursor: pointer;

    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #5d5d65;
}
