.sentenceNative {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 2rem auto;

    text-align: center;
    color: #252528;
    font-size: 22px;
    font-weight: 500;

    box-sizing: border-box;
}
