.sentenceNative {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 2rem auto;

    text-align: center;
    color: #252528;
    font-size: 22px;
    font-weight: 500;

    box-sizing: border-box;
}

.temperaryAnswer {
    margin: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.answer {
    margin: 1rem;

    font-size: 1.4rem;
    font-weight: 700;
}
