.btnBase {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 40px;

    border-radius: 5px;
    padding: 10px 25px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;

    background: transparent;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: 500;

    cursor: pointer;
    transition: all 0.3s ease;
}

.btn {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #766f6f5e;
    color: #000;

    text-decoration: none;
}
.btn:after {
    position: absolute;
    z-index: -1;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;

    direction: rtl;
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.btn:hover {
    color: #000;
}

.btn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn:active {
    top: 2px;
}
